
<ul class="list-group">
	<li class="list-group-item" ng-repeat="node in treeOut" ng-class="{'list-group-item-info' : node.parent.highlight}">
		<div class="row">
			<div class="col-xs-12">

			</div>
		</div>
		<div class="row">
			<div class="col-xs-10" ng-style="{'color':node.parent.color}" ng-mouseenter="highlight(node.parent)" ng-mouseleave="unhighlight(node.parent)">
				<div class="btn-group">
					<button class="btn btn-default btn-xs" ng-click="toggle(node.parent)">
						<i class="glyphicon glyphicon-eye-close" ng-show="node.parent.hidden"></i>
						<i class="glyphicon glyphicon-eye-open" ng-hide="node.parent.hidden"></i>
					</button>
					<button class="btn btn-default btn-xs" ng-click="isCollapsed = !isCollapsed" ng-show="node.children.length">
						<i class="glyphicon glyphicon-plus" ng-show="isCollapsed"></i>
						<i class="glyphicon glyphicon-minus" ng-hide="isCollapsed"></i>
					</button>
					<button class="btn btn-default btn-xs" ng-click="openVI(node)" ><i class="glyphicon glyphicon-share"></i>
					</button>
				</div>
				{{node.parent.name}}
			</div>
			<div class="col-xs-2">
				<img ng-src="images/icons/{{node.parent.icon}}" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" ng-style="{'color':node.color}" >
				<ul class="list-group" collapse="isCollapsed" >
					<li class="list-group-item"  ng-repeat="node in node.children" ng-class="{'list-group-item-info' : node.highlight}">
						<div class="row">
							<div class="col-xs-10" ng-style="{'color':node.color}" ng-mouseenter="highlight(node)" ng-mouseleave="unhighlight(node)">
								<button class="btn btn-default btn-xs" ng-click="toggle(node)">
								<i class="glyphicon glyphicon-eye-close" ng-show="node.hidden"></i>
								<i class="glyphicon glyphicon-eye-open" ng-hide="node.hidden"></i>
								</button>
								{{node.name}} 
							</div>
							<div class="col-xs-2">
								<img ng-src="images/icons/{{node.icon}}" />
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</li>
</ul>
