<div class="row-fluid">
	<form class="form-group">
		<input ng-model="query" type="text" placeholder="Filter VI list" class="form-control ng-pristine ng-valid">
	</form>
</div>
<ul class="list-group">
	<li class="list-group-item" ng-repeat="node in (filteredNodes = (list.nodes | filter:query)) | orderBy:predicate:reverse | startFrom:(currentPage-1)*pageSize | limitTo:pageSize track by node.id" ng-click="toggle(node)">
	<div class="row">
		<div class="col-xs-9" ng-style="{'color':node.color}">
			<i class="glyphicon glyphicon-eye-close" ng-show="node.hidden"></i>
			<i class="glyphicon glyphicon-eye-open" ng-hide="node.hidden"></i>
			{{node.name}} 
		</div>
		<div class="col-xs-3">
			<img ng-src="images/{{node.icon}}">
		</div>
		</div>
		</li>
	</ul>
	<pagination total-items="filteredNodes.length" items-per-page="pageSize" page="currentPage" max-size="maxSize" boundary-links="true" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
	</pagination>