/* @group Import External Resources */

/* @import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz); */

/* @end Import External Resources */

/* @group Canvas */

.page-background {
	background-color: #E2E2E2;
	background-image: url("Grid.png");
}

/* @end Canvas */

/* @group Header */

.page-header {
	display: block;
	background-image:url('SubtlePatterns-ClassyFabric.png');
	min-height: 80px;
	padding: 0px;
	margin: 0px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.page-header h1 {
	color: #EEE;
	margin: 0px;
	padding: 20px;
	text-align: center;
}

/* @end Header */

/* @group Wrapper (Page) */

.page-body {
	margin: 30px auto 0 auto;
}

.page-canvas {
	background-color: #F5F5F5;
	background-image: url("SubtlePatterns-SubtleNet2.png");
	margin-top: 30px;
	min-width: 600px;
	border: 1px solid #888;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 16px 4px #888;
	   -moz-box-shadow: 0px 0px 16px 4px #888;    
	        box-shadow: 0px 0px 16px 4px #888; /* box-shadow: h-shadow v-shadow blur spread color inset; */
}

.subtle-shadow {
	-webkit-box-shadow: 0px 0px 16px 4px #DDD;
	   -moz-box-shadow: 0px 0px 16px 4px #DDD;    
	        box-shadow: 0px 0px 16px 4px #DDD;
}

/* @end Wrapper (Page) */

/* @group Font Awesome */

   .contact-heading:before,
      .contact-name:before,
     .contact-email:before,
     .contact-phone:before,
     .contact-hours:before,
   .contact-website:before,
.documentation-link:before,
     .download-link:before,
    .change-feature:before,
.change-improvement:before,
     .change-bugfix:before,
     .change-change:before,
    .change-roadmap:before, 
   .change-openitem:before,
 .change-knownissue:before {
	padding-right: .4em;
	text-decoration: none;
	font: 1.25em/1em FontAwesome;
	vertical-align: -1px;
	-webkit-font-smoothing: antialiased;
}

     .download-link:before { content: '\f019'; }
    .change-feature:before { content: "\f046"; }
.change-improvement:before { content: "\f0d0"; }
     .change-bugfix:before { content: "\f0ad"; }
     .change-change:before { content: "\f040"; }
    .change-roadmap:before { content: "\f018"; }
   .change-openitem:before { content: "\f05a"; }
 .change-knownissue:before { content: "\f071"; }
   .contact-heading:before { content: '\f0e6'; }
      .contact-name:before { content: '\f007'; }
     .contact-email:before { content: '\f003'; }
     .contact-phone:before { content: '\f095'; }
     .contact-hours:before { content: '\f073'; }
   .contact-website:before { content: '\f0c1'; }
.documentation-link:before { content: '\f02d'; }

/* @end Font Awesome */

/* @group Intro Block */

.page-top-block {
	position: relative;
}

.contact-block {
	text-align: right;
}

/* @end Intro Block */


/* @group Changelog */

.changelog-block {
	margin-top: 60px;
}

.changelog-block .accordion-group, .featured-changes .changelog-list{
	border-radius: 8px;
	border: 1px solid #CCC;
	border-collapse: separate;
}

.changelog-block .accordion-group {
	margin-bottom: 30px;
}

.changelog-block .accordion-heading, .changelog-list th  {
	font-size: 28px;
	line-height: 1.5em;
/*	border-radius: 8px;*/
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-image: url("SubtlePatterns-LightSketchFurley.png");
	font-weight: normal;
	font-style: normal;
	padding-left: 10px;
}

.changelog-block .accordion-body {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.changelog-list td:first-child {
	padding-left: 10px;
}

.accordion-body .changelog-list {
	margin: 0;
}

.accordion-inner {
	padding: 2px 0px 2px 0px;
}

.featured-changes .changelog-list, .accordion-body {
	background-color: #FEFEFE;
}

.download-size {
	margin-left: .4em;
	opacity: 0.4;
}

.changelog-block .accordion-heading {
	position: relative;
	padding: 0px;
}

.release-date {
	font-size: 50%;
	color: #AAA;
	line-height: 1em;
	margin-left: 0.5em;
}

.changelog-block .accordion-heading .download-link {
	right: 0px;
	margin: 14px;
	position: absolute;
}

/* @end Changelog */

/* @group Footer */

.page-footer {
	background-image:url('SubtlePatterns-ClassyFabric.png');
	min-height: 80px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #EEE;
}

.page-copyright {
	color: #555;
	padding: 6px 2px 0px 0px;
	float: right;
	margin-bottom: 60px;
}

/* @end Footer */

/* @group Twitter Bootstrap Fixes */

/*.row {
	margin: 0px; /*JRD - Fix the 20px margin-left introduced by Twitter Bootstrap*!/
}*/

.popover {
	width: 360px;
}

.popover-title {
	font-weight: bold;
	font-size: 120%;
}

a[rel='tooltip'] {
	border-bottom: 1px dotted;
}

.accordion-heading .accordion-toggle {
	display: inline-block;
	padding-right: 0px;
}


/* @end Twitter Bootstrap Fixes */ 